<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE-+edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SOC JOBS Applications Email</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }
    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    h1 {
      color: #333;
    }
    p {
      font-size: 16px;
      line-height: 1.5;
      color: #666;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>SOC JOBS Application Status</h1>
    <p>Dear <%= name %>,</p>
    <p>We are writing to inform you about the status of your application for the position of <strong><%= jobTitle %></strong>.</p>
    <p>Your application has been <strong><%= status %></strong>.</p>
    <p>If you have received an acceptance email, please be aware that our recruiters team will contact you again to provide further information about the next steps in the process. We look forward to welcoming you to our team.</p>
    <p>If you have any further questions or require additional information, please feel free to contact us. Thank you for your interest in joining our team!</p>
    <p>Best regards,</p>
    <p><b>SOC Media Agency</b></p>
  </div>
</body>
</html>
